[Unit]
Description=Ember CLI
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/vagrant/www/
ExecStart=/usr/lib/node_modules/ember-cli/bin/ember serve /vagrant/www/app/app.js

[Install]
WantedBy=multi-user.target
